.alert-withdraw {
    margin-top: 20px;
}

.btn-withdraw {
    margin-top: 20px;
}
.text-alert {
    word-wrap: break-word;
}

.defaultWidth{
    width: 80%;
    height: 40px;
  }
  
.defaultPadding{
    padding : 5px;
  }
  
