.right-side {
    float: right;
    top: 15px;
    right: 35px;
}

.wallet {
    float: left;
    top: 15px;
    left: 35px;
    color: white;
}

.xlogo {
    height: 64px;
    width: 100%;
}
